In [1]:
import pandas as pd
from currency_converter import CurrencyConverter
import json

c = CurrencyConverter()

In [21]:
# import csv

michelin = '../data/2021CountryContinent.csv'
michelin_df = pd.read_csv(michelin, encoding='ISO-8859-1')
michelin_df.head()

,ï»¿Name,Year,Address,City,Country,Continent,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award
0,Les Eleveurs,2021,"Suikerkaai 1a, Halle, 1500, Belgium",Halle,Alemania,Europe,45.0,145.0,EUR,"Classic Cuisine, Regional Cuisine",4.237608,50.732199,3.223611e+09,https://guide.michelin.com/en/vlaams-brabant/b...,https://www.les-eleveurs.be/,Bib Gourmand
1,Ibaya,2021,"Carretera General 2, Soldeu, AD100, Andorra",Soldeu,Andorra,Europe,110.0,145.0,EUR,"Creative, Modern Cuisine",1.670949,42.575577,3.768707e+08,https://guide.michelin.com/en/canillo/soldeu/r...,http://www.sporthotels.ad,1 MICHELIN Star
2,Celler d'en Toni,2021,"Verge del Pilar 4, Andorra la Vella, AD500, An...",Andorra la Vella,Andorra,Europe,72.0,72.0,EUR,Contemporary,1.531772,42.507145,3.768628e+08,https://guide.michelin.com/en/andorra-la-vella...,http://www.cellerdentoni.com,Bib Gourmand
3,Amador,2021,"Grinzinger StraÃe 86, Vienna, 1190, Austria",Vienna,Austria,Europe,265.0,265.0,EUR,"Creative, Contemporary",16.358600,48.254011,4.370000e+11,https://guide.michelin.com/en/vienna/wien/rest...,http://www.restaurant-amador.com/,3 MICHELIN Stars
4,SENNS.Restaurant,2021,"SÃ¶llheimerstrasse 16, Salzburg, 5020, Austria",Salzburg,Austria,Europe,85.0,205.0,EUR,Creative,13.063449,47.836072,4.370000e+11,https://guide.michelin.com/en/salzburg-region/...,https://www.senns.restaurant/,2 MICHELIN Stars

In [22]:
# run currency converter function 

def currency_convertor(michelin_df,new_currency='USD'):
    try:
        
        # convert currency and store in new_curr variable
        
        price = michelin_df['MaxPrice']
        curr = michelin_df['Currency']
        new_curr = c.convert(price,curr,new_currency)
        return new_curr
    
    except:
        
        # log incompatible currencies
        
        print(f'{curr} failed')

#add column for max price in USD
michelin_df['max_usd'] = michelin_df.apply(lambda x: currency_convertor(x,new_currency='USD'), axis=1)

MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
MOP failed
RSD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
TWD failed
nan failed

In [23]:
michelin_df.drop(michelin_df.index[michelin_df['Currency'] == 'TWD'], inplace=True)
michelin_df.drop(michelin_df.index[michelin_df['Currency'] == 'MOP'], inplace=True)

In [24]:
michelin_df.describe()

,Year,MinPrice,MaxPrice,Longitude,Latitude,PhoneNumber,max_usd
count,6356.0,6355.000000,6355.000000,6356.000000,6356.000000,6.248000e+03,6354.000000
mean,2021.0,2255.030212,3813.802990,25.027911,41.326786,3.042516e+11,116.734543
std,0.0,10251.068918,18305.980323,64.570857,11.783722,1.523557e+12,88.306253
min,2021.0,2.000000,2.000000,-123.719444,-23.638434,4.977184e+07,0.601500
25%,2021.0,39.000000,60.000000,0.610879,35.889905,3.314225e+10,53.851000
50%,2021.0,68.000000,119.000000,7.252956,43.771442,3.522650e+10,91.314761
75%,2021.0,192.500000,255.000000,18.063563,48.849879,8.522487e+10,157.131773
max,2021.0,200000.000000,380000.000000,139.847604,64.144365,4.980000e+13,1402.770525

In [25]:
# create bins for max_usd and add bin to new column

bins = [0, 55, 100, 160, 200, 1500]
labels = [1,2,3,4,5]
michelin_df['Price'] = pd.cut(michelin_df['max_usd'], bins=bins, labels=labels)

michelin_df

,ï»¿Name,Year,Address,City,Country,Continent,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,max_usd,Price
0,Les Eleveurs,2021,"Suikerkaai 1a, Halle, 1500, Belgium",Halle,Alemania,Europe,45.0,145.0,EUR,"Classic Cuisine, Regional Cuisine",4.237608,50.732199,3.223611e+09,https://guide.michelin.com/en/vlaams-brabant/b...,https://www.les-eleveurs.be/,Bib Gourmand,159.355,3
1,Ibaya,2021,"Carretera General 2, Soldeu, AD100, Andorra",Soldeu,Andorra,Europe,110.0,145.0,EUR,"Creative, Modern Cuisine",1.670949,42.575577,3.768707e+08,https://guide.michelin.com/en/canillo/soldeu/r...,http://www.sporthotels.ad,1 MICHELIN Star,159.355,3
2,Celler d'en Toni,2021,"Verge del Pilar 4, Andorra la Vella, AD500, An...",Andorra la Vella,Andorra,Europe,72.0,72.0,EUR,Contemporary,1.531772,42.507145,3.768628e+08,https://guide.michelin.com/en/andorra-la-vella...,http://www.cellerdentoni.com,Bib Gourmand,79.128,2
3,Amador,2021,"Grinzinger StraÃe 86, Vienna, 1190, Austria",Vienna,Austria,Europe,265.0,265.0,EUR,"Creative, Contemporary",16.358600,48.254011,4.370000e+11,https://guide.michelin.com/en/vienna/wien/rest...,http://www.restaurant-amador.com/,3 MICHELIN Stars,291.235,5
4,SENNS.Restaurant,2021,"SÃ¶llheimerstrasse 16, Salzburg, 5020, Austria",Salzburg,Austria,Europe,85.0,205.0,EUR,Creative,13.063449,47.836072,4.370000e+11,https://guide.michelin.com/en/salzburg-region/...,https://www.senns.restaurant/,2 MICHELIN Stars,225.295,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6497,Queenâs English,2021,"3410 11th St. NW, Washington, 20010, United St...",Washington,United States,North America,50.0,50.0,USD,"Chinese, Contemporary",-77.028464,38.932190,NaN,https://guide.michelin.com/en/district-of-colu...,https://www.queensenglishdc.com/,Bib Gourmand,50.000,1
6498,Residents Cafe & Bar,2021,"1306 18th St. NW, Washington, 20036, United St...",Washington,United States,North America,40.0,45.0,USD,Contemporary,-77.041754,38.907818,1.202603e+10,https://guide.michelin.com/en/district-of-colu...,https://www.residentsdc.com/,Bib Gourmand,45.000,1
6499,Makan,2021,"3400 11th St. NW, Washington, 20010, United St...",Washington,United States,North America,50.0,50.0,USD,Malaysian,-77.028418,38.931882,1.202730e+10,https://guide.michelin.com/en/district-of-colu...,https://www.makanrestaurantdc.com/,Bib Gourmand,50.000,1
6500,EllÄ,2021,"3221 Mt. Pleasant St. NW, Washington, 20010, U...",Washington,United States,North America,13.0,85.0,USD,"Contemporary, Bakery",-77.038420,38.931870,1.202652e+10,https://guide.michelin.com/en/district-of-colu...,https://www.eatatelle.com/,Bib Gourmand,85.000,2
6501,Karma Modern Indian,2021,"611 I St. NW, Washington, 20001, United States",Washington,United States,North America,50.0,75.0,USD,"Indian, Contemporary",-77.020600,38.900967,1.202898e+10,https://guide.michelin.com/en/district-of-colu...,https://www.karmamodernindian.com/,Bib Gourmand,75.000,2

In [26]:
michelin_df = michelin_df.drop(['Year',
                                'MinPrice',
                                'MaxPrice',
                                'Currency',
                                'PhoneNumber',
                                'Url',
                                'max_usd',],
                                axis = 1)

michelin_df = michelin_df.rename(columns={"ï»¿Name": "Restaurant"})

In [27]:
michelin_df.head()

,Restaurant,Address,City,Country,Continent,Cuisine,Longitude,Latitude,WebsiteUrl,Award,Price
0,Les Eleveurs,"Suikerkaai 1a, Halle, 1500, Belgium",Halle,Alemania,Europe,"Classic Cuisine, Regional Cuisine",4.237608,50.732199,https://www.les-eleveurs.be/,Bib Gourmand,3
1,Ibaya,"Carretera General 2, Soldeu, AD100, Andorra",Soldeu,Andorra,Europe,"Creative, Modern Cuisine",1.670949,42.575577,http://www.sporthotels.ad,1 MICHELIN Star,3
2,Celler d'en Toni,"Verge del Pilar 4, Andorra la Vella, AD500, An...",Andorra la Vella,Andorra,Europe,Contemporary,1.531772,42.507145,http://www.cellerdentoni.com,Bib Gourmand,2
3,Amador,"Grinzinger StraÃe 86, Vienna, 1190, Austria",Vienna,Austria,Europe,"Creative, Contemporary",16.358600,48.254011,http://www.restaurant-amador.com/,3 MICHELIN Stars,5
4,SENNS.Restaurant,"SÃ¶llheimerstrasse 16, Salzburg, 5020, Austria",Salzburg,Austria,Europe,Creative,13.063449,47.836072,https://www.senns.restaurant/,2 MICHELIN Stars,5

In [28]:
result = michelin_df.to_json(orient="table")
parsed = json.loads(result)
print(json.dumps(parsed, indent=4, sort_keys=True))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [29]:
michelin_df.to_json(r'../data/2021CountryContinent.json',orient="records")